@font-face {
    font-family: 'Vazir';
    src: url('../../font/webfonts/Vazirmatn-Thin.woff2') format('woff2') ;
    font-weight: 100;
    font-style: normal;
    color: #132524
}

@font-face {
    font-family: 'Vazir';
    src: url('../../font/webfonts/Vazirmatn-Regular.woff2') format('woff2') ;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../font/webfonts/Vazirmatn-Medium.woff2') format('woff2') ;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../font/webfonts/Vazirmatn-Bold.woff2') format('woff2') ;
    font-weight: 900;
    font-style: normal;
}