:root {
    --toastify-toast-min-height: auto ;
    --toastify-text-color-light: #000 ;
}

/* ==== global styles ==== */
.Toastify__toast-container {
    width: fit-content;
    text-align: center; 
}

.Toastify__toast {
    align-items: center ;
    column-gap: 40px ;
    padding: 2px 10px ;
    border-radius: 15px;
    box-shadow: none ;
}

.Toastify__progress-bar {
    visibility: hidden ;
}

.Toastify__toast-icon {
    width: 25px ;
    height: 25px ;
    box-sizing: content-box ;
    margin-right: 20px ;
    padding: 6px ;
    border-radius: 12px ;
}

.Toastify__toast-icon svg {
    fill: #fff ;
}

.Toastify__close-button {
    height: fit-content;
    align-self: auto ;
    opacity: .6 ;
}

.Toastify__close-button svg {
    width: 20px ;
    height: 20px ;
}

/* ==== success styles ==== */

.Toastify__toast--success {
    background-color: #eaf7ee ;
    border: 1px solid #379d01
}

.Toastify__toast--success .Toastify__toast-icon { background-color: #379d01 ; }

/* ==== error styles ==== */
.Toastify__toast--error {
    background-color: #eddfdf ;
    border: 1px solid #dd1b1b
}

.Toastify__toast--error .Toastify__toast-icon { background-color: #dd1b1b ; }

/* ==== warn styles ==== */
.Toastify__toast--warning {
    background-color: #e9e4c8 ;
    border: 1px solid #ed9500
}

.Toastify__toast--warning .Toastify__toast-icon { background-color: #ed9500 ; }